@mixin bookmark($theme) {
  phantom-bookmark {
    position: relative;
    z-index: 0;

    .bookmark {
      border-bottom: 1px solid;
      border-color: phantom-colour($theme, foreground, border);
      margin-bottom: $mPadding;
      padding-bottom: $sPadding;
      position: relative;
      z-index: 0;

      &__view {
        &-top {
          display: flex;
          position: relative;

          &-url {
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 85%;
            display: block;
            overflow: hidden;
          }

          &-edit {
            margin-left: auto;
            margin-right: $sPadding;
            font-size: $sFont;
          }

          &-delete {
            font-size: $sFont;
          }
        }

        &-bottom {
          &-notes {
            display: flex;
            margin-left: 3px;

            &-tag {
              margin-right: 3px;
              font-size: $sFont;
            }

            &-data {
              font-size: $sFont;
              color: phantom-colour($theme, foreground, secondary-text);
            }
          }
        }
      }

      &__edit {
        &-row {
          display: flex;
          justify-content: space-between;
        }
      }

      &__delete {
        margin-top: $mPadding;
        align-items: center;

        &-tag {
          margin-left: 3px;
          &-bold {
            color: phantom-colour($theme, error);
          }
        }
        &-row {
          margin-top: $xsPadding;
          display: flex;
          justify-content: flex-end;
          &-deleteBtn {
            margin-left: $lPadding;
            background: phantom-colour($theme, error, secondary-text);
            &:hover {
              background: phantom-colour($theme, error, primary-text);
            }
          }
        }
      }
    }
  }

  phantom-bookmark[borderless] {
    .bookmark {
      border-bottom: unset;
    }
  }
}

.some-class {
  background: red;
}
