$opacitiesLight: (default: 1,
  primary-text: 1,
  secondary-text: 0.8,
  btn: 0.7,
  strong-border: 0.6,
  border: 0.2,
  card-header: 0.03,
  box-shadow: 0.5,
  disabled: 0.4,
);

$opacitiesDark: (default: 1,
  primary-text: 0.8,
  secondary-text: 0.6,
  btn: 0.7,
  strong-border: 0.7,
  border: 0.3,
  card-header: 0.1,
  box-shadow: 0.15,
  disabled: 0.3,
);