@import '../../../_scss/base.scss';

.input {
  margin-bottom: $mPadding;
}

.row {
  display: flex;
  justify-content: flex-end;
}

.cancel{
  margin-right: $lPadding;
}

.clear{
  margin-right: $lPadding;
}