@mixin anchors($theme) {
  a {
    color: phantom-colour($theme, foreground, secondary-text);
    display: flex;
    align-items: center;
    padding: $xsPadding;
    border-radius: $radius;
    transition: color 0.1s ease-in;
    &:hover{
      color: phantom-colour($theme, cta);
    }
  }
}