@mixin button($theme) {
  button {
    color: phantom-colour($theme, foreground, primary-text);
    padding: $xsPadding $sPadding;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }

  button[phantom-icon-button] {
    border-bottom: 0;
    border-radius: 50px;
    @include activeElementHover(phantom-colour($theme, cta, btn));
  }

  button[phantom-button-flat] {
    padding: $xsPadding;
    @include activeElementHover(phantom-colour($theme, cta, btn));
    border-radius: $radius;
  }


  button[phantom-button] {
    background: phantom-colour($theme, cta, btn);
    border-radius: $radius;
    transition: background ease-in 0.2s;
    @include boxShadow(phantom-colour($theme, foreground, box-shadow), 3px);

    &:hover {
      background: phantom-colour($theme, cta);
      cursor: pointer;
    }
  }

  button[phantom-button][disabled],
  button[phantom-button-delete][disabled] {
    background: phantom-colour($theme, foreground, disabled);
    cursor: not-allowed;
  }

  button[phantom-button-flat][disabled],
  button[phantom-icon-button][disabled] {
    cursor: not-allowed;

    &:hover {
      background: none;
    }
  }
}