@mixin cardContent($theme) {
  phantom-card-content {
    padding: $sPadding $mPadding;
    display: block;
    color: phantom-colour($theme, foreground, primary-text);
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}